In [96]:
import numpy as np
import pandas as pd

## Q1. Pandas version ##

In [97]:
pd.__version__

'2.3.2'

Download the dataset and read the CSV file into pandas
```
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
```

In [98]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [99]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2. How many records are in the dataset? ##

Get the number of row in the DataFrame with df.shape function

In [100]:
df.shape

(9704, 11)

## Q3. How many fuel types are presented in the dataset? ##

Get the number of fuel_type with nunique function

In [101]:
df.fuel_type.nunique()

2

## Q4. How many columns in the dataset have missing values? ##

Get the missing value with df.isnull().sum()

In [102]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [103]:
(df.isnull().sum() > 0).sum()

np.int64(4)

## Q5. What's the maximum fuel efficiency of cars from Asia ##

In [104]:
df.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [105]:
df.groupby('origin').fuel_efficiency_mpg.max().Asia

np.float64(23.759122836520497)

## Q6. Median value of horsepower ##

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.

Find the median value of horsepower column in the dataset.

In [106]:
median_hp = df.horsepower.median()

median_hp

149.0

the most frequent horsepower value

In [107]:
mode_hp = df.horsepower.mode()[0]

mode_hp

np.float64(152.0)

fill the missing values with the mode_hp value

In [108]:
print("Total missing values before patching:", df.horsepower.isnull().sum())

new_hp = df.horsepower.fillna(mode_hp)

df.horsepower = new_hp

print("Total missing values after patching:", df.horsepower.isnull().sum())

Total missing values before patching: 708
Total missing values after patching: 0

Find the median again

In [109]:
new_median_hp = df.horsepower.median()

new_median_hp

152.0

## Q7. Sum of weights ##

Select all the cars from Asia

Select only columns vehicle_weight and model_year

Select the first 7 values

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.

Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the sum of all the elements of the result?

In [110]:
asian_cars = df.loc[df["origin"] == "Asia", ["vehicle_weight", "model_year"]]

asian_cars

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [111]:
first_7 = asian_cars.head(7)

first_7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [112]:
X = first_7.values

X.shape

(7, 2)

In [113]:
XT = X.T

XT.shape

(2, 7)

In [118]:
XTX = XT.dot(X)

XTX.shape

(2, 2)

In [119]:
I_XTX = np.linalg.inv(XTX)

I_XTX.shape

(2, 2)

In [116]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [122]:
tmp1 = I_XTX.dot(XT)

w = tmp1.dot(y)

w

array([0.01386421, 0.5049067 ])

In [124]:
result = w.sum()

result

np.float64(0.5187709081074007)